
<div>
    <div style="float:left;padding:10px">
        <img src="https://dummyimage.com/100x100/313ef5/ffffff.png&text=Avatar" alt="" class="img-circle">            
    </div>
    <div style="float:left">
        <h1>Bienvenido <%= @user.name %></h1>
        <h3><%= @user.email %></h3>
    </div>

</div>



